* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit {
    height: 1px;
    width: 1px;
    background-color: green;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.sun {
    height: 90px;
    width: 90px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}

.radius1 {
    height: 200px;
    width: 200px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.mercury {
    height: 50px;
    width: 50px;
    background-color: rgb(177, 148, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: mercury 3s linear infinite;
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

@keyframes mercury {
    from {
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(100px)rotate(-360deg);
    }
}

.radius2 {
    height: 350px;
    width: 350px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.venus {
    height: 60px;
    width: 60px;
    background-color: rgb(223, 209, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: venus 4s linear infinite;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

@keyframes venus {
    from {
        transform: rotate(0deg) translate(180px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(180px)rotate(-360deg);
    }
}

.radius3 {
    height: 500px;
    width: 500px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.earth {
    height: 70px;
    width: 70px;
    background-color: rgb(55, 154, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: earth 5s linear infinite;
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

@keyframes earth {
    from {
        transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(250px)rotate(-360deg);
    }
}

.radius4 {
    height: 650px;
    width: 650px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.mars {
    height: 75px;
    width: 75px;
    background-color: rgb(193, 74, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: mars 6s linear infinite;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@keyframes mars {
    from {
        transform: rotate(0deg) translate(322px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(322px)rotate(-360deg);
    }
}

.radius5 {
    height: 800px;
    width: 800px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.jupiter {
    height: 82px;
    width: 82px;
    background-color: rgb(153, 142, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: jupiter 7s linear infinite;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@keyframes jupiter {
    from {
        transform: rotate(0deg) translate(399px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(399px)rotate(-360deg);
    }
}

.radius6 {
    height: 950px;
    width: 950px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.saturn {
    height: 85px;
    width: 85px;
    background-color: rgb(135, 145, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: saturn 8s linear infinite;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@keyframes saturn {
    from {
        transform: rotate(0deg) translate(480px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(480px)rotate(-360deg);
    }
}

.radius7 {
    height: 1100px;
    width: 1100px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.uranus {
    height: 75px;
    width: 75px;
    background-color: rgb(56, 151, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: uranus 9s linear infinite;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@keyframes uranus {
    from {
        transform: rotate(0deg) translate(550px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(550px)rotate(-360deg);
    }
}

.radius8 {
    height: 1250px;
    width: 1250px;
    border: 3px dashed white;
    border-radius: 50%;
    position: absolute;
}

.neptune {
    height: 65px;
    width: 65px;
    background-color: rgb(40, 100, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: neptune 10s linear infinite;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@keyframes neptune {
    from {
        transform: rotate(0deg) translate(630px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(630px)rotate(-360deg);
    }
}